{% if cv.memberships %}
  <div class="list-groups">
    {% assign memberships = cv.memberships | sort: 'startDate' | reverse %}
    {% for content in memberships %}
      <div class="list-group col-md-6">
        <table class="table-cv list-group-table">
          <tbody>
            <tr>
              {% if content.icon %}
                <td class="list-group-category-icon">
                  <i class="{{ content.icon }}"></i>
                </td>
              {% else %}
                <td class="list-group-category-icon"></td>
              {% endif %}
              <!-- Calculate colspan number for category title -->
              {% assign i = 1 %}
              {% for item in content.highlights %}
                {% assign i = i | plus: 1 %}
              {% endfor %}
              <td colspan="{{ i }}" class="list-group-category">
                <a href="{{ content.url | default: '#' }}">{{ content.organization }}</a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="list-group-name">
                <b>{{ content.position }}</b>
              </td>
              <td class="list-group-name">{{ content.startDate | date: "%Y" }}{% if content.endDate %} - {{ content.endDate | date: "%Y" }}{% endif %}</td>
            </tr>
            {% if content.highlights %}
              <tr>
                <td></td>
                <td colspan="{{ i }}" class="list-group-highlights">
                  <ul>
                    {% for highlight in content.highlights %}
                      <li>{{ highlight }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
{% endif %}
